PUBLIC_API_URL=https://xxx.execute-api.us-east-1.amazonaws.com/prod
PUBLIC_SUPABASE_URL=https://dyqmrolumlbprrcqldaw.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5cW1yb2x1bWxicHJyY3FsZGF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NjQ3OTMsImV4cCI6MjA5MDA0MDc5M30.tZfxPJGFb3n_Kb2AYdSbigHaFpnKcYaI5tGDELbY23U
