# Backend
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.venv/
backend/venv/

# Frontend
frontend/.env
frontend/node_modules/
frontend/dist/
frontend/.astro/

# SAM build artifacts
backend/.aws-sam/

# General
.DS_Store
*.log
