SUPABASE_URL=https://dyqmrolumlbprrcqldaw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5cW1yb2x1bWxicHJyY3FsZGF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NjQ3OTMsImV4cCI6MjA5MDA0MDc5M30.tZfxPJGFb3n_Kb2AYdSbigHaFpnKcYaI5tGDELbY23U
SUPABASE_SERVICE_ROLE_KEY=<obtener de: Supabase Dashboard → Settings → API → service_role>
AWS_ACCESS_KEY_ID=<tu key de AWS>
AWS_SECRET_ACCESS_KEY=<tu secret de AWS>
AWS_S3_BUCKET=nebulosahair-asg7asg5dhf8dhf5adg8
AWS_S3_REGION=sa-east-1
ALLOWED_EMAILS=correo1@gmail.com,correo2@gmail.com
FRONTEND_URL=https://nebulosahair.pages.dev
